:root {
	// colors
	--color-2: #ece3cf;
	--color-3: #fffbf1;
	--color-4: #f8f5ef;
	--color-5: rgba(235, 223, 201, 0.67);
	--green: #f2fbe9;
	--white: #fff;
	--white-2: #fffdf9;
	--black-1: #2f2e2b;
	--bkack-2: rgba(47, 46, 43, 0.5);
	--black-3: rgba(47, 46, 43, 0.3);
	--orange-1: #c68346;
	--orange-2: rgba(198, 131, 70, 0.6);
	--green-1: #375323;
	--green-2: #e1f0ce;
	--red: #cc300c;
	--gold: #c09831;

	// widths
    --mobile: 768px;
    --tablet: 992px;
    --laptop: 1200px;
    --desktop: 1440px;
}
