.Footer {
	max-width: 1080px;
	margin: 0 auto;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px dashed var(--black-1);
	padding: 39px 0 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    font-family: var(--roboto-slab);
	font-size: 14px;
	a {
		color: var(--black-1, #2f2e2b);
		transition: color 0.3s;
		&:hover {
			color: rgba(black, 0.5);
		}
	}
	@media (max-width: 1112px) {
		margin: 0 16px;
	}
	@media (max-width: 991px) {
		flex-direction: column;
		gap: 12px;
		padding-top: 24px;
	}
	@media (max-width: 767px) {
		font-size: 12px;

		.c {
			margin-left: 12px;
		}
	}
}

.siteLink {
	margin-left: 12px;
}
.c {
	margin-left: 40px;
}

.policies {
	display: flex;
	align-items: center;
	gap: 8px;
}
