.PageContainer {
	font-family: var(--roboto-slab);
	position: relative;
}
.bg {
	background: var(--color-2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
    min-height: 100dvh;
    width: 100vw;
}
.Page {
	padding: calc(120px + 24px + 70px) 16px 0;
	min-height: 100dvh;
	position: relative;
}
.verify {
	text-align: center;
	margin-top: 150px;
}
